#.gitignore
#.gitignore

#素性ファイル
*.f
*.pyc
*.kch
*.csv
*.xlsx


#外部データ、公開しないデータ
src/
/misc/

#接続情報
rulebased/connect.json
rulebased/connect.lst

#つつじ
rulebased/fe_dict.json
rulebased/fe_list

#アノテーション用エクセルファイル群
/corpus/annotation_data/

#作成したデータ
/data/

#ドキュメント
#README.md
/doc/

#隠しファイル
.DS_Store

#NL研時の学習曲線用データ
/x2014*

#過去のデータ(未分類)
/legacy/

#過去の作業ディレクトリ
/work/

#過去のスクリプト
/bin/

/x20140331-bthesis/
/x20140522-nl216/
/test/

## CRF実験の残骸
/crf/t0*
/crf/t1*
/crf/t2*
/crf/ver2.1*
/crf/temp/

#事実性の参考スクリプト
/scope_script/
/website/
memo.txt
best.txt
/239-colon/
irai.txt

## タガーの中間生成物とか
/tagger/sentence.f
/tagger/sentence.cabocha
/tagger/sentence.tagged

